<div class="container-fluid">
  {{#newsItems}}
    <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-3">
          <h2>{{title}}</h2>
          <span>{{description}}</span>
        </div>
        <div class="col-sm-6">
         <p>{{description}}</p>
        <img src="{{image}}" width="80%"> </img>
        </div>
        <div class="col-sm-3">
          {{#rSide}}
            <h3>{{rTitle}}</h3>
            <img src="{{rImage}}" width="100%"> </img>
            <a href="#">{{rDescription}}</a>
          {{/rSide}}
        </div>
    </div>
  {{/newsItems}}

</div>   
