<div class="container-fluid">
  {{#entries}}
    <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-3">
          <h2>{{title}}</h2>
          <span>{{{contentSnippet}}}</span>
        </div>
        <div class="col-sm-6">
         <!-- p>{{{content}}}</p -->
        {{#mediaGroups}}
          {{#contents}}
            <img src="{{url}}" width="100%"> </img>
          {{/contents}}
        {{/mediaGroups}}
        </div>
        <!--div class="col-sm-3">
          {{#rSide}}
            <h3>{{rTitle}}</h3>
            <img src="{{rImage}}" width="100%"> </img>
            <a href="#">{{rDescription}}</a>
          {{/rSide}}
        </div -->
    </div>
  {{/entries}}
</div>
